// TITLE
.title {
    font-family: 'SF Pro Display';
    font-style: normal;
    color: #2F3234;
    &-lg {
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        letter-spacing: 0.374px;
    }
    &-md {
        font-weight: 600;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: -0.49px;
    }
}
// ОБЕРТКА ДЛЯ TITLE И КНОПКИ RESET
.status-title-reset {
    display: flex;
    align-items: center;
    gap: 16px;
}